.col{
    height: 2rem;
    background-color: rgb(2, 194, 2);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}
.nested-col{
    height: 2rem;
    background-color: rgb(0, 241, 241);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-6{
    margin-bottom: 1rem;
}
.row-6 .row{
    height: 3rem;
    background-color: rgb(2, 194, 2);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

